doctype html
head
  link(rel='stylesheet' type='text/css' href='bmi.css')
  link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title 404 BMI
  style.
    #resultValue{color: #{colorValue};}
.header
  .wrapper
    h1 404 BMI Calculator Not Found
    a(href="/") Click here to Go to BMI Calculator